$toolbar-color: #F62459;
//$toolbar-color: #1a989d;
$sidepanel-color: #ededed;
$toolbar-height: 53px;
$dark-grey: #4b4b4b;
$light-green: #87D37C;
$title-color: #818181;
$card-border-color: #cecece;
$vote-down-color: #b52a2a;
// IMPORTS
@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/helpers';
@import 'components/login';
* {
    box-sizing: border-box;
    -wekit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.holder {
    max-width: 450px;
    display: block;
    margin: 0px auto;
    color: #999;
}

// padding to adjust toolbar
.dashboard {
    padding-top: $toolbar-height;
}

toolbar {
    display: block;
    background: $toolbar-color;
    color: #FFF;
    z-index: 20;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: $toolbar-height;
    .fa {
        font-size: 25px;
        padding: 14px;
        background: $toolbar-color - 10;
        &:hover {
            background: $toolbar-color - 30;
        }
        &.right {
            float: right;
        }
    }
    .title {
        font-size: 18px;
        display: inline-block;
        position: relative;
        transform: translateX(10px);
    }
}

sidenav {
    position: fixed;
    width: 230px;
    background: #FFF;
    height: 100%;
    top: $toolbar-height;
    left: -240px;
    border-right: 1px solid #CCC;
    -webkit-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition-duration: 0.5s;
    animation: all ease-in-out;
    &.open {
        transform: translateX(240px);
    }
    panel {
        text-align: center;
        display: block;
        div {
            background: $sidepanel-color - 40;
            -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.42);
            -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.42);
            box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.42);
            padding: 30px 20px;
            width: 110%;
            left: -5%;
            position: relative;
            .user-photo {
                width: 100%;
                margin: 0px auto;
                border-radius: 50%;
                max-width: 70px;
                margin-bottom: 10px;
            }
        }
    }
    ul.nav-list {
        li {
            list-style-type: none;
            border-bottom: 1px solid #ededed;
            padding: 5px;
            &:last-child {
                border: 0px;
            }
            .updates {
                float: right;
                background: red;
                border-radius: 50%;
                font-size: 10px;
                font-weight: bold;
                color: #FFF;
                padding: 4px;
                margin-top: 13px;
                margin-right: 15px;
            }
            span {
                font-size: 14px;
                font-weight: bold;
                color: #444;
            }
            .fa {
                padding: 10px;
                width: 42px;
                height: 42px;
                font-size: 22px;
                text-align: center;
                color: $toolbar-color;
            }
        }
    }
}

home {
    color: #292929;
    .loader {
        max-width: 100px;
        padding: 0px;
        margin: 0px;
    }
    panel {
        background: #FFF;
        display: block;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        border: 1px solid $card-border-color;
        h6.title {
            margin-bottom: 10px;
            margin-top: 0px;
            color: $title-color;
            font-size: 13px;
            color: #666 !important;
        }
    }
}

.login,
.registration {
    background: $toolbar-color;
    color: #FFF;
    position: fixed;
    top: 0px;
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    hr {
        width: 100%;
        height: 10px;
        border: 0px;
        color: #FFF;
        border-bottom: 1px solid $toolbar-color + 50;
        margin-bottom: 20px;
    }
    .brand {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        //        padding: 20px 10px;
        //        background: rgba(#000,0.1);
        //        border-radius: 5px;
        //        border: solid 2px rgba(#000,0.05);
        h6,
        h5 {
            opacity: 0.7;
            margin-bottom: 20px !important;
        }
        .controls {
            .login-btn {
                float: right;
                background: $light-green - 40;
                color: #FFF;
                padding: 10px 30px;
                //border: 2px solid $light-green - 60;
            }
            .register {
                float: left;
                padding: 10px;
                background: none;
                color: #FFF;
            }
        }
    }
}

.forum {
    padding: 10px;
}

home .card.forum {
    margin: 10px;
}

.search {
    .search-box {
        padding: 5px;
        input[type='text'] {
            width: 100%;
            margin: 0px;
            font-size: 17px;
            border-radius: 3px;
            border: 0px;
            display: block;
            padding: 10px;
        }
    }
}

.addQuery {
    padding: 10px;
    form {
        input[type='text'] {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border: 0px;
            padding: 10px;
            border-radius: 3px;
        }
    }
}

.btn.btn-need-help {
    color: #FFF;
    background: $toolbar-color;
    padding: 0px;
    
    &:first-child{
        margin-top: 20px;
    }
    
    span {
        position: relative;
        top: -6px;
    }
   
    i.fa {
        font-size: 35px;
        background: $toolbar-color - 20;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 7px;
        display: inline-block;
    }
}

.organisation{
    //here
}

.organisation-card{
    margin: 10px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #CCC;
    .img-box{
        min-height: 100px;
        background: url(imgs/stock/img1.jpg) center center no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
    }
    
    .info-box{
        padding: 10px;
        background: #d9d9d9;
        h2{
            padding: 0px;
            margin: 0px;
            text-overflow: ellipsis;
            color: $sidebar-color - 10;
        }
    }
}

.settings{



input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}



.switch {
	background: #fff;
	border-radius: 32px;
	display: block;
	height: 64px;
	position: relative;
	width: 160px;
}

.switch label {
	color: #fff;
	font-size: 48px;
	font-weight: 300;
	line-height: 64px;
	text-transform: uppercase;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	width: 100px;
}

.switch label:nth-of-type(1) {
	left: -75%;
	position: absolute;
	text-align: right;
}

.switch label:nth-of-type(2) {
	position: absolute;
  right: -75%;
	text-align: left;
}

.switch input {
	height: 64px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 160px;
	z-index: 2;
}

.switch input:checked~label:nth-of-type(1) { color: #fff; }
.switch input:checked~label:nth-of-type(2) { color: #808080; }

.switch input~:checked~label:nth-of-type(1) { color: #808080; }
.switch input~:checked~label:nth-of-type(2) { color: #fff; }

.switch input:checked~.toggle {
	left: 4px;
}

.switch input~:checked~.toggle {
	left: 100px;
}

.switch input:checked {
	z-index: 0;
}

.toggle {
	background: #4a4a4a;
	border-radius: 50%;
	height: 56px;
	left: 0;
	position: absolute;
	top: 4px;
	-webkit-transition: left .2s ease;
	-moz-transition: left .2s ease;
	-ms-transition: left .2s ease;
	-o-transition: left .2s ease;
	transition: left .2s ease;
	width: 56px;
	z-index: 1;
}
}
