<home ng-controller="HomeCtrl">
    <panel class="emercency-services">
        <h6 class="title">Emercengy Services</h6>

        <div class="card-drop">
            <div class="down-icon">
                <i class="fa fa-arrow-circle-o-down fa-3x" ng-click="cardDropDownToggle = !cardDropDownToggle" ng-hide="step2" ng-class="{'fa-rotate-180':cardDropDownToggle}"></i>
                <i class="fa fa-times-circle-o fa-3x" ng-click="step2 = !step2" ng-show="step2"></i>
            </div>
            <div class="dropdown" ng-class="{'open':cardDropDownToggle}">{{cardDropdownToggle}}
                <button class="btn btn-block btn-need-help" ng-hide="step2" ng-click="tabHandler(0)"><i class="fa fa-phone-square"></i> <span>Phonebook Contacts</span></button>
                <div class="well phonebook-e" ng-show="emer[0] && step2">
                    <div class="center-block text-center">                         <h4>Sending SMS..</h4>

                        <i class="fa fa-spinner fa-pulse fa-4x"></i>
                    </div>
                    
                    <ul>
                        <li>Raman Choudhary</li>
                        <li>Prajjwal Gupta</li>
                        <li>Aayush Jhunjhunwala</li>
                        <li>Karan Sharma</li>
                        <li>Pooja Yadav</li>
                    </ul>
                   
                </div>
                
                <button class="btn btn-block btn-need-help" ng-hide="step2" ng-click="tabHandler(1)"><i class="fa fa-warning"></i> <span>Alert Public</span></button>
                 <div class="well phonebook-e" ng-show="emer[1] && step2">
                    <div class="center-block text-center"> 
                        <div>
                            <i class="fa fa-info-circle fa-2x"></i>
                            <h4 class="text-warning">No Network!</h4>
                            <h6>Try calling Police Control Room</h6>
                        </div>
                                                                       
                                                                       
                                                                       
                                                                       
                                                                       
                                                                    <div ng-show="mapReady">
                                                                        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>   
               <h4>Map loaded!</h4>                                                         
                                                                    </div>
                                                                        <h4>Alerting nearby people...</h4>

                        <i class="fa fa-marker fa-4x"></i>
                    </div>
                    
                   
                   
                </div>
                
                <button class="btn btn-block btn-need-help" ng-hide="step2" ng-click="tabHandler(2)"><i class="fa fa-shield"></i> <span>Call Police</span></button>
                 <div class="well phonebook-e" ng-show="emer[2] && step2">
                    <div class="center-block text-center">                         <h4>Calling nearby Police Station</h4>
                        <h5>Madivala Police Station</h5>

                        <i class="fa fa-spinner fa-pulse fa-4x"></i>
                    </div>
                    
                  
                </div>
                <button class="btn btn-block btn-need-help" ng-hide="step2" ng-click="tabHandler(3)"><i class="fa fa-support"></i> <span>SOS</span></button>
                 <div class="well phonebook-e" ng-show="emer[3] && step2">
                    <div class="center-block text-center">                         <h4>Doing everything..</h4>

                        <i class="fa fa-heart-o fa-pulse fa-4x"></i>
                         <h4>to help you</h4>

                    </div>
                    
                  
                </div>
            </div>
        </div>
    </panel>

    <div class="loader" ng-hide="QueryLoaded">
        <img ng-src="imgs/loader.gif" class="img-res loader">
    </div>

    <div class="card forum" ng-repeat="i in queries">
        <p class="who"><b>{{i.username}}</b> <span ng-if="i.type === 'question'">asked</span></p>
        <h4 class="ques">{{i.question}}?</h4>
        <div ng-show="i.media">

            <img ng-src="{{i.media}}" class="img-res media" alt="Artcle Image" ng-if="$index%2">

        </div>
        <p class="details">{{i.description}}
        </p>
        <div class="clearfix">
            <time>3 hrs ago</time>
            <span class="votes">
            <button  angular-ripple class="btn up"> <span><i class="fa fa-arrow-up" ng-click="i.upVotes"></i> {{i.upVote}}</span></button>
            <button angular-ripple class="btn down"><span><i class="fa fa-arrow-down"></i> {{i.downVote}}</span></button>
            </span>
        </div>
    </div>
    <!--
    <panel class="emercency-services hide">
        <h1>Police Services</h1>

    </panel>
-->

</home>