<div class="login" ng-controller="LoginCtrl">
    <div class="brand">
        <h1 class="npm">Be Safe</h1>
        <h6 class="npm">We stand together</h6>
        
        <div class="error" ng-show="loginForm">
                <p> <i class="fa fa-info"></i> Invalid username or password</p>
            </div>

           <!--Loading Icon--> 
            <div class="sk-folding-cube loader" ng-show="loading">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
            </div>
            
           
        <form class="login-form" ng-hide="loading">
            <input type="email" name="username" class="input" placeholder="Email" ng-model="email" required>
            <input type="password" name="username" class="input" placeholder="Password" ng-model="magicWord" required>
            <div class="controls">
                <a class="btn register" ui-sref="registration">
                    Register
                </a>

                <button class="btn login-btn" ng-click="login()" type="submit" >Login</button>
                <!--<a ui-sref="dashboard.home">home</a>-->
            </div>
        </form>
    </div>
</div>

